.wp-block-d2i-blocks-task-list {

	.task-title {
		margin: 0;
		color: #fff;
	}

	.task-form {

		input[type="submit"] {
			background-color: #0bc4d3;
		}
	}

	.task-group {
		background-color: #262447;
		color: #fff;
		border-radius: 20px;
	}

	.task-group-file-input {
		color: #fff;
	}

	.task-group-external-link {
		color: #fff;

		&:visited {
			color: #808080;
		}
	}

	ul {
		list-style-type: none;
		padding: 20px;
		margin: 0;

		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 15px;

			&.is-completed {
				opacity: 0.5;
				text-decoration: line-through;
			}

			.task-check-control {
				margin-right: 20px;
			}

			.components-external-link {
				flex-grow: 3;
				margin-bottom: calc(8px);
			}

			&.todo-completed {
				opacity: 0.5;
				text-decoration: line-through;
			}

			label {
				font-size: 16px;
			}
		}
	}

	.task-list-doc-item {
		margin-left: 25px;
	}
}
